@import 'nib'
@import 'reset'
@import 'typography'
@import 'colors'
@import 'grid'
// @import 'd3-tip'

.playstroke
  //stroke-width 1
  //stroke black

#centerlabel
  font-size 2em
  position absolute
  background-color white
  text-align center
  width 100%

#tooltip
  position absolute
  background-color rgba(250,250,250,0.9)
  padding 0.5em
  max-width 300px
  pointer-events none
